body {
    font-family: Montserrat;
}
button {
    width: 50px;
    height: 40px;
    border-radius: 20px;
    font-weight: 700;
    margin-top: 5px;
}
/* #display {
    box-sizing: border-box;
    width: calc(100% - 35px);
    margin-bottom: 20px;
    margin-left: 5px;
    padding: 10px;
    background-color: #ebebeb;
    border-radius: 5px;
    text-align: right;
    font-size: 2em;
  } */
.output {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 300px;
    height: 40px;
    background: #fff;
    margin: 10px auto;
    border-radius: 5px;
    font-size: 1.4em;
    font-weight: bold;
    box-shadow: inset 1px 1px 1px rgba(0, 0, 0, 0.3),
      inset -1px -1px 1px rgba(0, 0, 0, 0.3);
}
/* .output {
    border: 1px solid #ccc;
    padding: 10px;
    margin-bottom: 10px;
    font-size: 24px;
    text-align: right;
} */
.output {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    position: relative;
    background: #ffffff;
    min-height: 50px;
    padding: 5px;
    margin: 0 1px 10px;
    border-radius: 0.25rem;
    box-shadow: inset 1px 1px 5px rgba(0, 0, 0, 0.5);
    width: 210px;
  }
  
    pre {
    text-align: right;
    font-size: 25px;
    margin: 0;
    font-family: 'Orbitron', sans-serif;
    width: 288px;
    overflow-x: auto;
  }
  
  .output pre::-webkit-scrollbar {
    display: none;
  }
  
  .upper {
    color: #424242;
    font-size: 18px;
  }
#number-0 {
    width: 105px;
}
.title {
    color: #fff
}
.calc {
    border-radius: 25px;
    background-image: url(/Pet-calc/apple1.png);
    background-size: 100% 93%;
    background-repeat: no-repeat;
    width: 268px;
    height: 450px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.input {
    width: 214px;
}
.operator {
    color: #fff;
    background-color: #fc9600;
}
.goal {
    color: #fff;
    background-color: #fc9600;
}
.tech {
    color: #fff;
    background-color: #a5a5a5;
}
.number {
    color: #fff;
    background-color: #333333;
}
.block__code {
    background: #2b2b2b;
    padding: 1em;
    overflow: auto;
    border-radius: 0.3em;
    text-align: left;
    font-size: 14px;
    width: 65%;
}
.answer {
    color: #fff;
}